.claro{
    background-color: greenyellow;
}

.medio{
    background-color: rgb(13, 180, 13);
}

.escuro{
    background-color: rgb(5, 70, 5);
}

.rmedio{

    background-color: rgb(206, 12, 12);

}

.rclaro{
    background-color: red;

}

.rescuro{

    background-color: rgb(182, 3, 3);
}