.img {
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 0;
    margin-top: 0;
}

.figure1 {
    float: right;
    margin: 0 0 10px 10px;
}

.figure2 {
    float: left;
    margin: 0 0 10px 10px;
    margin-top: 0;

}
.p1{
    margin-left: 200px;
}

.div1{
   margin-top: 100px; 
}

p{
    font-size: 18px;
}