@charset "UTF-8";

body{
    background-color: rgba(128, 128, 128, 0.637);
}

.para{
    background-color: aqua;
}

.pala{
    color: red;
}

.parag{
    background-color: orange;
}

.palavra{

    color: blue;
}