.div1{
    border: 1vh solid;
    margin-bottom: 20px;
    width: 65%;
    font-size: 2vw;
    background-color: white;

}
.div2{
    border-style: solid;
    width: 620px;
    font-size: 14pt;
    background-color: white;

}

.titulo{
    text-align: center;
}

.cor{
    background-color: yellow;
}

body{
    background-color: rgb(169, 228, 255);
}